{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'CSS/materialize.min.css' %}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{% static 'CSS/styles.css' %}" media="screen,projection">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/tt-norms-medium" type="text/css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/tt-norms-regular" type="text/css">

    <link rel="canonical" href="https://mineshare.top/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="ASSETS/favicon.svg">
    <title>Mineshare - Восстановление пароля</title>
</head>

<body>
    <div class="container">
        <div class="recovery-container">
            <p class="recovery-title">Восстановление</p>
            <div class="recovery-box">
                <div class="row">
                    <div class="col l12 m12 s12">
                        <form id="recovery-submit" action="" method="post">
                            {% csrf_token %}
                            <div class="input-field recovery-input-email">
                                {{ form.email }}
                            </div>
                            <div class="center" onclick="$('#recovery-submit').submit()">
                                <input type="submit" class="support-button waves-effect waves-light btn" value="Отправить">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


   <script type="text/javascript" src="{% static 'JS/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'JS/support.js' %}"></script>

</body>
</html>