{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="container page">
        <div class="row">

            <div class="col l12 m12 s12">
                <div class="about-container">
                    <p class="about-container-title">Кто мы такие?</p>
                    <p class="about-container-description">Мы — небольшая стартап-команда, которая только начала свою карьеру в сфере диджитал-стартапов. Сейчас в нашей группировке всего 4 человека, но этого было достаточно, чтобы реализовать данный проект.</p>
                    <div class="about-container-line"></div>

                    <p class="about-container-title">Чем мы занимаемся?</p>
                    <p class="about-container-description">На данный момент, основное направление нашей команды — создание, поддержка и продвижение мониторинга, на котором вы читаете данный пост. Команда Mineshare все время улучшает свои навыки, чтобы сделать свои сервисы лучше. Мы прислушиваемся
                        к мнению наших пользователей и стараемся сделать все возможное, чтобы процесс использования сервисов стал более комфортным.
                    </p>
                    <div class="about-container-line"></div>

                    <p class="about-container-title">Что будет дальше?</p>
                    <p class="about-container-description">В будущем, наша эскадрилья будет продолжать создание лучших стартапов и планирует продвигаться на мировой арене под эгидой новаторства. Компания будет специализироваться во множестве направлений, которые
                        ориентированы на быстрый рост и максимально широкую аудиторию. У нас есть огромное количество различных идей и задумок, которые мы реализуем уже в ближайшем будущем! Следите за нами в наших социальных сетях, чтобы всегда быть в
                        курсе событий!
                    </p>
                </div>

            </div>

        </div>
    </div>
{% endblock main %}