{% extends 'base.html' %}
{% block main %}
{% load static %}
    <div id="create-server" class="modal auth" style="max-height:71%;padding-top:50px;">
        <div class="modal-content container" style="padding-bottom:0">
            <div class="row" style="padding-bottom:0;margin-bottom:0">
                <form action="" id="server_status" name="server_status" method="post">
                    {% csrf_token %}
                <div id="create-server-one-container" class="col s12 create-server-one-container-background">
                    <div class="col l2 m1 hide-on-small-only"></div>
                    <div class="col l8 m10 s12" style="height: 100%;">
                        <div class="input-field input-create-server input-create-server-top">
                            <input placeholder="Название" name="srv_name" type="text" class="validate">
                        </div>

                        <div class="input-field input-create-server">
                            <input placeholder="IP-адрес" name="srv_ip" type="text" class="validate" onkeyup="this.value = this.value.toLowerCase();">
                        </div>

                        <div class="input-field input-create-server">
                            <input placeholder="Порт" name="srv_port" type="text" class="validate" maxlength="5" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>

                        <div class="center div-complete">
                            <i id="alert_error_server" class="material-icons" onclick="$('#server_status').submit();">cancel</i>
                            <div id="alert_success_server" class="loader-1"><span></span></div>
                            <input type="submit" class="button-complete waves-effect waves-light btn" value="Далее" onclick="this.value='';">
                        </div>
                    </div>
                    <div class="col l2 m1 hide-on-small-only"></div>
                </div>
                    </form>

            </div>
        </div>
    </div>

    <div id="change-username" class="modal auth" style="max-height:71%;padding-top:50px;">
        <div class="modal-content container" style="padding-bottom:0">
            <div class="row" style="padding-bottom:0;margin-bottom:0">
                <form action="change-username/" id="change-username-form" name="server_status" method="post">
                    {% csrf_token %}
                <div id="create-server-one-container" class="col s12 create-server-one-container-background">
                    <div class="col l2 m1 hide-on-small-only"></div>
                    <div class="col l8 m10 s12" style="height: 100%;">
                        <div class="input-field input-create-server input-create-server-top">
                            <input placeholder="Текущий никнейм" name="old_username" type="text" class="validate" value="{{ user.get_username }}" readonly>
                        </div>

                        <div class="input-field input-create-server">
                            <input placeholder="Новый никнейм" name="new_username" type="text" class="validate">
                        </div>

                        <div class="input-field input-create-server">
                            <input placeholder="Повтор никнейма" name="new_username2" type="text" class="validate">
                        </div>

                        <div class="center div-complete">
                            <i id="alert-error-change-username" class="material-icons" onclick="$('#change-username-form').submit();">cancel</i>
                            <div id="alert-success-change-username" class="loader-1"><span></span></div>
                            <input type="submit" class="button-complete waves-effect waves-light btn" value="Подтвердить" onclick="this.value='';">
                        </div>
                    </div>
                    <div class="col l2 m1 hide-on-small-only"></div>
                </div>
                    </form>

            </div>
        </div>
    </div>

    <div id="use-boost" class="modal boost">
        <div class="use-boost-wallpaper">
            <h4>CloudBoost</h4>
            <div class="wallpaper-img"></div>
        </div>
        <div class="modal-content" style="padding-bottom:0">
            <div class="row" style="padding-bottom:0;margin-bottom:0">
                <form action="" name="server_status" method="post">{% csrf_token %}
                    <div class="col l12 s12" style="height: 100%;">
                        <div class="use-boost-block">
                            <p class="boosts-text">Бустеров доступно:</p>
                            <p class="boosts-int"><span>0</span> шт.</p>
                            <p class="boosts-description">Используйте CloudBoost, чтобы моментально получить +50 очков рейтинга для выбранного сервера. В случае, если ваш рейтинговый счет составляет 100 единиц, то бустер даст не более +10 дополнительных очков.</p>
                        </div>
                        <div class="use-boost-input input-field">
                            <select>
                                {% for server in servers %}
                                <option value="{{ server.id }}">{{ server.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="center div-complete">
                            <i id="alert_error_server" class="material-icons" onclick="$('#server_status').submit();">cancel</i>
                            <div id="alert_success_server" class="loader-1"><span></span></div>
                            <input type="submit" class="button-use waves-effect waves-light btn" value="Использовать" onclick="this.value='';">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="container privatearea-container-control">
        <div class="row">
            <a class="col l4 m12 s12 privatearea-container-panel-servers-button-add btn waves-effect waves-light modal-trigger" href="#create-server">Добавить сервер</a>
            <a class="col l4 m12 s12 privatearea-container-panel-servers-button-changeusername btn waves-effect waves-light modal-trigger" href="#change-username">Сменить никнейм</a>
            <a class="col l4 m12 s12 privatearea-container-panel-servers-button-changepass btn waves-effect waves-light" href="#">Сменить пароль</a>
        </div>
    </div>

    <div class="container privatearea-container">
        <div class="row">

            <div class="col l12 m12 s12 privatearea-container-panel" style="padding-bottom: 20px;">
                {% if servers %}
                {% for server in servers %}
                {% if server.id == servers.last.id %}
                <div class="privatearea-container-panel-server" style="{% if server.id == servers.first.id and server.block %}margin-top:20px;{% elif server.block %}margin-top:52px;{% endif %}margin-bottom:-20px;">
                    <div class="row">
                        <div class="col l9 m12 s12">
                            <p class="privatearea-container-panel-server-title">{{ server.name }}</p>
                            <p class="privatearea-container-panel-server-subtitle">{{ server.description|truncatechars:185 }}</p>
                        </div>
                        <div class="col l3 m12 s12">
                            {% if server.block %}<div class="privatearea-container-panel-server-blocked"><p>Сервер заблокирован</p></div>{% endif %}
                            <div class="row">
                                <div class="col l10 m11 s10">
                                    <a class="privatearea-container-panel-server-button-open btn waves-effect waves-light" href="{% url 'servers:servers' %}servers/{{ server.id }}">Просмотр</a>
                                </div>

                                <div class="col l2 m1 s2">
                                    <a class="privatearea-container-panel-server-button-create right" href="{% url 'account:main' %}server/{{ server.id }}/edit/"><img src="{% static 'ASSETS/edit.svg' %}"></a>
                                </div>

                                <div class="col l10 m11 s10">
                                    <a class="privatearea-container-panel-server-button-promote btn waves-effect waves-light modal-trigger" href="#use-boost">Раскрутить</a>
                                </div>

                                <div class="col l2 m1 s2">
                                    <a class="privatearea-container-panel-server-button-delete right" href="{% url 'account:main' %}server/{{ server.id }}/delete/">
                                        <svg viewBox="0 0 24 24">
                                        <path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="privatearea-container-panel-server" {% if server.block %}style="margin-top:18px;"{% endif %}>
                    <div class="row">
                        <div class="col l9 m12 s12">
                            <p class="privatearea-container-panel-server-title">{{ server.name }}</p>
                            <p class="privatearea-container-panel-server-subtitle">{{ server.description|truncatechars:185 }}</p>
                        </div>

                        <div class="col l3 m12 s12">
                            {% if server.block %}<div class="privatearea-container-panel-server-blocked"><p>Сервер заблокирован</p></div>{% endif %}
                            <div class="row">
                                <div class="col l10 m11 s10">
                                    <a class="privatearea-container-panel-server-button-open btn waves-effect waves-light" href="{% url 'servers:servers' %}servers/{{ server.id }}">Просмотр</a>
                                </div>

                                <div class="col l2 m1 s2">
                                    <a class="privatearea-container-panel-server-button-create right" href="{% url 'account:main' %}server/{{ server.id }}/edit/"><img src="{% static 'ASSETS/edit.svg' %}"></a>
                                </div>

                                <div class="col l10 m11 s10">
                                    <a class="privatearea-container-panel-server-button-promote btn waves-effect waves-light modal-trigger" href="#use-boost">Раскрутить</a>
                                </div>

                                <div class="col l2 m1 s2">
                                    <a class="privatearea-container-panel-server-button-delete right" href="{% url 'account:main' %}server/{{ server.id }}/delete/">
                                        <svg viewBox="0 0 24 24">
                                        <path d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <div class="privatearea-container-panel-servers-empty">
                    <img class="privatearea-container-panel-servers-picture-empty" src="{% static 'ASSETS/cloud-empty.svg' %}">Ничего нет!
                </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock main %}